<div class="row">
    <label class="panel">Search for articles by text: <input ng-model="searchText" ></label>
    <ul class="schemalist">
        <li ng-cloak class="row ng-cloak" ng-hide="filteredArticlesList.length">{{noArticles}}</li>
        <li class="row" ng-repeat="article in filteredArticlesList = (articleslist | filter : { article_title: searchText} | limitTo: maxArticlesPerPage)">
            <a ng-href="/blog?olderthan={{article.post_time*1 + 1}}"><b class="small-8 columns">{{article.article_title}}</b></a>
            <p class="small-4 columns text-right">{{article.post_time*1000 | date:'medium'}}</p>
        </li>
    </ul>
</div>