<div class="small-block-grid-1 medium-block-grid-1 large-block-grid-1">
	<article class="panel small-12 large-12 columns radius" ng-repeat="article in articleslist">
		<div class="row articleheader">
			<div class="small-6 large-6 columns">
				<h3 class="row">{{article.article_title}}</h3>
				<br>
				<h6 class="row">Posted by {{article.nickname}}</h6>
				<h6 class="row">
					<time datetime="{{article.post_time}}">{{article.post_time*1000 | date:'medium'}}</time>
				</h6>
			</div>
			<img class="portrait th small-2 large-2 columns right" ng-src='images/portraits/{{article.nickname}}/{{article.portrait_file}}'>
		</div>
        <div class="row">
		    <p class="text-justified">{{article.article_text}}</p>
        </div>
	</article>
    {{noArticles}}
    <ul class="pagination" aria-label="Pagination">
        <li class="datenav" ng-show="newertime != null"><a ng-href="/blog?newerthan={{newertime}}">Newer</a></li>
        <li class="datenav"><a href="archive">Archive</a></li>
        <li class="datenav" ng-show="oldertime != null"><a ng-href="/blog?olderthan={{oldertime}}">Older</a></li>
    </ul>
</div>