<div class="panel">
    <h3>PRIVACY POLICY</h3>

    Schema Games values and respects its users' privacy, and we pledge always to treat our users fairly and to manage all data responsibly.

    <h4>the schema games website</h4>

    When you browse our website, we collect no personally-identifying information. Anonymous usage information is collected only to gauge performance and make improvements to the website. Sections of our website that collect information are explained below.

    <h4>contact form</h4>

    Schema Games has a contact form hosted <a href="http://schemagames.com/contact">here</a>

    <li>What information is collected?</li>

    When you submit information via the Contact Us form, you are required to provide your email address. Using this form does not require you to divulge your name or any personal information beyond your email address, though you may provide this information if you wish.

    <li>What do you do with this information?</li>

    Your email address is only used to send you correspondence related to your contact message. It will never be sold or provided to a third party, and it will never be used to send you marketing materials or other information you did not request.

    <h4>children’s privacy</h4>

    The Schema Games website is not directed at children under the age of 13. To ensure users' privacy, Schema Games neither collects nor displays users’ age or date of birth anywhere on its website.
</div>