<div ng-show="showLinks">
    <ul class="inline-list">
        <li ng-repeat="thinglink in thinglinks" class="panel thingie"><a href="{{thinglink.link}}">{{thinglink.name}}</a></li>
    </ul>
</div>

<div ng-show="showFilter">
    <label class="panel">Filter {{thingType}} with input: <input ng-model="searchText.thing_name"></label>
</div>

<div ng-show="showList">
    <ul class="schemalist">
        <li ng-cloak class="row ng-cloak" ng-hide="filteredThingsList.length">Welp. This search didn't find anything of type '{{thingType}}'.</li>
        <li class="row" ng-repeat="thing in filteredThingsList = (thingslist | filter : searchText | orderBy:'post_time':true | limitTo: maxThingsPerPage)">
            <a class="small-8 columns row" ng-href="/things?id={{thing.thing_id}}">
                <img class="thingicon" ng-src="images/thingicons/icon_{{thing.thing_type}}.png" >
                <img class="thingicon" ng-src='images/portraits/{{thing.nickname}}/{{thing.portrait}}'>
                <b>{{thing.thing_name}}</b>
            </a>
            <p class="small-4 columns text-right">{{thing.post_time*1000 | date:'medium'}}</p>
        </li>
    </ul>
</div>

<div ng-show="showThing">
    <div class="panel">
        <h3>{{thing.thing_name}}</h3>
    </div>
    <div ng-include="thing.content_url"></div>
</div>